#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.infoWindow {
  color: black;
  background: white;
}

.infoWindow > button {
  background: red;
}

.gm-style-iw-chr > button {
  background: red !important;
  width: 24px !important;
  height: 24px !important;
}

.gm-style-iw-chr > button > span {
  margin: 0 !important;
}

.pinMarker {
  display: none;
}

.infoBox {
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #f9f9f9;
}

.infoTitle {
  font-size: 16px;
  font-weight: 600;
  color: rgb(102, 102, 102);
  margin-bottom: 4px;
}

.pushCourse {
  animation: rainbow 1.5s ease-in-out infinite;
}

@keyframes rainbow {
  0%, 100% {
    transform: translateY(1rem)
  }
  50%{
    transform: translateY(-1rem)
  }
}